<div class="card text-center m-3 p-0">
    <div class="card-header bg-dark text-white mb-1">
        {{ post.title }}
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ post.post_text }}
        </p>
        <p class="card-text">
            User: {{ post.user.name }}
            {{format_date post.createdAt}}
        </p>
        <button class="btn btn-dark" id="newCommentBtn">Add Comment</button>
        <div class="form p-3 m-1" style="display: none;" id="commentForm">
            <input id="commentText" class="p-1" type="text" placeholder="Enter Comment Here">
            <button class="btn btn-dark"  id="submitComment">Submit</button>
        </div>
    </div>
    {{#each post.comments}}
    <div class="card text-center">
            <div class="card-header">Comment</div>
        <div class="card-body">
            <div class="card-text">{{text}}</div>
            <div class="card-text">User: {{user.name}}</div>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/comment.js"></script>